.carousel {
    padding: 82px 0;

    &__container {
        position: relative;

        max-width: 950px;
        margin: 0 auto;
    }

    &__inner {
        width: 750px;
        margin: 0 auto;
    }

    .tns-item {
        img {
            display: block;
            margin: 0 auto;
        }
    }

    .prev,
    .next {
        position: absolute;
        top: 50%;

        background-color: transparent;
        border: none;

        transform: translateY(-50%);

        // transition: 0.5s all;

        img {
            width: 25px;
            height: 40px;
        }
    }

    .prev {
        left: -66px;
    }

    .next {
        right: -66px;
    }

    // .tns-nav {
    //     display: flex;
    //     justify-content: space-between;
    //     width: 100px;
    //     margin: 0 auto;
    //     button {
    //         position: relative;

    //         width: 16px;
    //         height: 16px;

    //         background-color: #e4e4e4;
    //         border: none;
    //         border-radius: 100%;

    //         &.tns-nav-active::before {
    //             content: '';

    //             position: absolute;
    //             top: 3px;
    //             left: 3px;

    //             width: 10px;
    //             height: 10px;

    //             background-color: #1c1f38;
    //             border-radius: 100%;
    //         }
    //     }

    // }
}

@media (max-width: 1100px) {
    .carousel {
        &__container {
            max-width: 750px;
        }

        .tns-item {
            img {
                width: 550px;
            }
        }

        .prev {
            left: -60px;
        }
    
        .next {
            right: -60px;
        }
    }
}

@media (max-width: 991px) {
    .carousel {
        &__container {
            max-width: 650px;
        }

        .tns-item {
            img {
                width: 450px;
            }
        }

        .prev {
            left: -50px;
        }
    
        .next {
            right: -50px;
        }
    }
}

@media (max-width: 767px) {
    .carousel {
        &__container {
            max-width: 450px;
        }

        .tns-item {
            img {
                width: 350px;
            }
        }

        .prev {
            left: -40px;
        }
    
        .next {
            right: -40px;
        }
    }
}

@media (max-width: 575px) {
    .carousel {
        &__container {
            max-width: 295px;
        }

        .tns-item {
            img {
                width: 290px;
            }
        }

        .prev,
        .next {
            img {
                width: 20px;
                height: 35px;
            }
        }

        .prev {
            left: -40px;
        }
    
        .next {
            right: -40px;
        }
    }
}

@media (max-width: 375px) {
    .carousel {
        &__container {
            max-width: 240px;
        }

        .tns-item {
            img {
                width: 220px;
            }
        }

        .prev,
        .next {
            img {
                width: 20px;
                height: 35px;
            }
        }

        .prev {
            left: -35px;
        }
    
        .next {
            right: -35px;
        }
    }
}